<!DOCTYPE html>
<html>

  <head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="generator" content="White Axis Logistics Transportation" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      href="assets/images/logo.png"
      type="image/x-icon"
    />
    <meta
      name="description"
      content="White Axis - Logistics"
    />
    <title>White Axis</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    />
    <link
      rel="stylesheet"
      href="assets/bootstrap-material-design-font/css/material.css"
    />
    <link
      rel="stylesheet"
      href="assets/web/assets/mobirise-icons/mobirise-icons.css"
    />
    <link rel="stylesheet" href="assets/et-line-font-plugin/style.css" />
    <link rel="stylesheet" href="assets/tether/tether.min.css" />
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/dropdown/css/style.css" />
    <link rel="stylesheet" href="assets/animate.css/animate.min.css" />
    <link rel="stylesheet" href="assets/theme/css/style.css" />
    <link
      rel="stylesheet"
      href="assets/mobirise/css/mbr-additional.css"
      type="text/css"
    />
  </head>
  <body>
    <!-- Google Tag Manager -->

    <!-- End Google Tag Manager -->

    <div id="menu-0" custom-code="true">
      <section>
        <nav
          class="navbar navbar-dropdown navbar-light bg-light  navbar-fixed-top"
          style="background-color: white;"
        >
          <div class="container">
            <div class="mbr-table">
              <div class="mbr-table-cell">
                <a
                  class="navbar-caption"
                  href="/"
                  >
                  <img src="/assets/images/logo.png" style="height: 50px; width: 50px;" ></img>
                  </a
                >
                
              </div>
              <div class="mbr-table-cell">
                <button
                  class="navbar-toggler pull-xs-right hidden-md-up"
                  type="button"
                  data-toggle="collapse"
                  data-target="#exCollapsingNavbar"
                >
                  <div class="hamburger-icon"></div>
                </button>

                <ul
                  class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm"
                  id="exCollapsingNavbar"
                >
                  <li class="nav-item">
                    <a
                      class="nav-link link mbr-editable-menu-item"
                      href="/"
                      style="color: black;"
                      >THE APP</a
                    >
                  </li>
             
                  <li class="nav-item">
                    <a
                      class="nav-link link mbr-editable-menu-item"
                      href="/"
                      style="color: black;"
                      >RIDER</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link link mbr-editable-menu-item"
                      href="https://fleetaxis.herokuapp.com/"
                      target="_blank"
                      style="color: black;"
                      >CREATE A FLEET</a
                    >
                  </li>
            

                  <% if(os== "AndroidOS"){ %>
                    <li class="nav-item nav-btn">
                      <a href="https://play.google.com/"><img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" width="150" height="60" alt="Get it on Google Play" border="0"></a> 
                     
                    </li>
                  <% } else if(os== "iOS"){ %>  
                  

                    <li class="nav-item nav-btn">
                      <a href="https://itunes.apple.com"><img src="https://musicofnature.com/wp-content/uploads/2019/01/apple-appstore-button-e1537877335990.png" width="150" height="44" alt="Download on the App Store" border="0"></a> 
                  
                    </li>
                  <% } else { %>  
                    <li class="nav-item nav-btn">
                      <a href="https://itunes.apple.com"><img src="https://musicofnature.com/wp-content/uploads/2019/01/apple-appstore-button-e1537877335990.png" width="150" height="44" alt="Download on the App Store" border="0"></a> 
                  
                    </li>
                    <li class="nav-item nav-btn">
                      <a href="https://play.google.com/"><img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" width="150" height="60" alt="Get it on Google Play" border="0"></a> 
                     
                    </li>
                    
                    <% } 
                    
                    %>
                </ul>
                <button
                  hidden=""
                  class="navbar-toggler navbar-close"
                  type="button"
                  data-toggle="collapse"
                  data-target="#exCollapsingNavbar"
                >
                  <div class="close-icon"></div>
                </button>
              </div>
            </div>
          </div>
        </nav>
      </section>
      <section class="engine"><a rel="external" href="/">WhiteAxis</a></section>
    </div>

    <section
      class="mbr-section mbr-section-hero mbr-section-full header2 mbr-parallax-background mbr-after-navbar"
      id="header2-1"
      style="
        background-image: url(https://images.pexels.com/photos/2847906/pexels-photo-2847906.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
      "
    >
      <div
        class="mbr-overlay"
        style="opacity: 0.3; background-color: rgb(71, 85, 119)"
      ></div>

      <div class="mbr-table mbr-table-full">
        <div class="mbr-table-cell">
          <div class="container">
            <div class="mbr-section row">
              <div class="mbr-table-md-up">
                <div
                  class="mbr-table-cell col-md-5 content-size text-xs-center text-md-right"
                >
                  <h3 class="mbr-section-title display-2" style="font-size: xxx-large;">
                    INNOVATIVE AND EFFICIENT ON-DEMAND LOGISTICS SERVICE
                  </h3>

                  <div class="mbr-section-text">
                    <p>
                      A Clear Path To Your Destination&nbsp;
                    </p>
                  </div>


              

                    <% if(os== "AndroidOS"){ %>
                      <div class="mbr-section-btn">
                        <a href="https://play.google.com/"><img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" width="150" height="60" alt="Get it on Google Play" border="0"></a> 
                        <!-- <a href="https://itunes.apple.com"><img src="https://musicofnature.com/wp-content/uploads/2019/01/apple-appstore-button-e1537877335990.png" width="150" height="44" alt="Download on the App Store" border="0"></a>  -->
                      </div>
                    <% } else if(os== "iOS"){ %>  
                      <div class="mbr-section-btn">
                        <!-- <a href="https://play.google.com/"><img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" width="150" height="60" alt="Get it on Google Play" border="0"></a>  -->
                        <a href="https://itunes.apple.com"><img src="https://musicofnature.com/wp-content/uploads/2019/01/apple-appstore-button-e1537877335990.png" width="150" height="44" alt="Download on the App Store" border="0"></a> 
                      </div>
                   <% } else { %>  
                    <div class="mbr-section-btn">
                      <a href="https://play.google.com/"><img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" width="150" height="60" alt="Get it on Google Play" border="0"></a> 
                      <a href="https://itunes.apple.com"><img src="https://musicofnature.com/wp-content/uploads/2019/01/apple-appstore-button-e1537877335990.png" width="150" height="44" alt="Download on the App Store" border="0"></a> 
                    </div>
                    
                    <% } 
                    
                    %>
                 
                </div>
                <div
                  class="mbr-table-cell mbr-valign-top mbr-left-padding-md-up col-md-7 image-size"
                  style="width: 50%"
                >
                  <div class="mbr-figure">
                    <img style="height: 600px; width: 333px;" src="assets/images/showcase.png" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="mbr-arrow mbr-arrow-floating hidden-sm-down"
        aria-hidden="true"
      >
        <a href="#header3-k"><i class="mbr-arrow-icon"></i></a>
      </div>
    </section>

    <section
      class="mbr-section mbr-section__container article"
      id="header3-k"
      style="
        background-color: rgb(244, 244, 244);
        padding-top: 60px;
        padding-bottom: 0px;
      "
    >
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h3 class="mbr-section-title display-2">How It Works</h3>
          </div>
        </div>
      </div>
    </section>

    <!-- <section
      class="mbr-section article mbr-section__container"
      id="content1-j"
      style="
        background-color: rgb(244, 244, 244);
        padding-top: 20px;
        padding-bottom: 20px;
      "
    >
      <div class="container">
        <div class="row">
          <div class="col-xs-12 lead">
            This app is so cool and great and helps to solve so many problems.
           You can get to your destination safe and sound with these 4 easy steps!!
          </div>
        </div>
      </div>
    </section> -->

    <section
      class="mbr-cards mbr-section mbr-section-nopadding"
      id="features1-e"
      style="background-color: rgb(244, 244, 244)"
    >
      <div class="mbr-cards-row row striped">
        <div
          class="mbr-cards-col col-xs-12 col-lg-3"
          style="padding-top: 80px; padding-bottom: 80px"
        >
          <div class="container">
            <div class="card cart-block">
              <div class="card-img">
                <img
                  src="assets/images/ui11.jpeg"
                  class="card-img-top"
                />
              </div>
              <div class="card-block">
                <h4 class="card-title"> Select Service</h4>
                <h5 class="card-text">Step 1</h5>
                <p class="card-text">
                  White axis provides an easy to use interface for the everyday man to use and understand efficiently.

Simply select your choice of logistics              </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="mbr-cards-col col-xs-12 col-lg-3"
          style="padding-top: 80px; padding-bottom: 80px"
        >
          <div class="container">
            <div class="card cart-block">
              <div class="card-img">
                <img
                src="assets/images/ui8.jpeg"
                  class="card-img-top"
                />
              </div>
              <div class="card-block">
                <h4 class="card-title">Get The Pricing</h4>
                <h5 class="card-text">Step 2</h5>
                <p class="card-text">
                  
                  <a
                    href="#"
                  
                    class="text-black"
                    >White axis gives you a cheap and affordable cost of transportation. Pick a destination and get your pricing</a
                  >
                  for you.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="mbr-cards-col col-xs-12 col-lg-3"
          style="padding-top: 80px; padding-bottom: 80px"
        >
          <div class="container">
            <div class="card cart-block">
              <div class="card-img">
                <img
                src="assets/images/ui10.jpeg"
                  class="card-img-top"
                />
              </div>
              <div class="card-block">
                <h4 class="card-title">Get Picked Up</h4>
                <h5 class="card-text">
                 Step 3
                </h5>
                <p class="card-text">
                Your driver comes to your very location and picks you up
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="mbr-cards-col col-xs-12 col-lg-3"
          style="padding-top: 80px; padding-bottom: 80px"
        >
          <div class="container">
            <div class="card cart-block">
              <div class="card-img">
                <img
                src="assets/images/ui6.jpeg"
                  class="card-img-top"
                />
              </div>
              <div class="card-block">
                <h4 class="card-title">Rate Your experience</h4>
                <h5 class="card-text">
                  Step 4
                </h5>
                <p class="card-text">
                 Give your driver a rating based on your experience!!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section
      class="mbr-section"
      id="msg-box4-6"
      style="
        background-color: rgb(255, 255, 255);
        padding-top: 120px;
        padding-bottom: 120px;
      "
    >
      <div class="container">
        <div class="row">
          <div class="mbr-table-md-up">
            <div
              class="mbr-table-cell col-md-5 text-xs-center text-md-right content-size"
            >
              <h3 class="mbr-section-title display-2">
                A SHORT VIDEO TUTORIAL
              </h3>
              <div class="lead">
                <p>How and why you should try to use this great app.</p>
              </div>

              <div>
                <a class="btn btn-black" href="#">IPHONE</a>
                <a class="btn btn-black" href="#">ANDROID</a>
              </div>
            </div>

            <div
              class="mbr-table-cell mbr-left-padding-md-up mbr-valign-top col-md-7 image-size"
              style="width: 50%"
            >
              <div class="mbr-figure">
                <iframe
                  class="mbr-embedded-video"
                  src="https://www.youtube.com/embed/BePoG2ONkTw"
                  width="1280"
                  height="720"
				  frameborder="0"
				  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                  allowfullscreen
				></iframe>
			  </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <section
      class="mbr-cards mbr-section mbr-section-nopadding"
      id="features4-i"
      style="background-color: rgb(244, 244, 244)"
    >
      <div class="mbr-cards-row row">
        <div
          class="mbr-cards-col col-xs-12 col-lg-4"
          style="padding-top: 80px; padding-bottom: 80px"
        >
          <div class="container">
            <div class="card cart-block">
              <div class="card-img iconbox">
                <a
                  href="/"
                  class="mbri-delivery mbr-iconfont mbr-iconfont-features4"
                  style="color: rgb(233, 165, 211)"
                ></a>
              </div>
              <div class="card-block">
                <h4 class="card-title">Multiple Vendors</h4>
                <h5 class="card-subtitle">Choosing the service you need</h5>
                <!-- <p class="card-text">
                  Bootstrap 4 has been noted as one of the most reliable and
                  proven frameworks and Mobirise has been equipped to develop
                  websites using this framework.
                </p> -->
              </div>
            </div>
          </div>
        </div>
        <div
          class="mbr-cards-col col-xs-12 col-lg-4"
          style="padding-top: 80px; padding-bottom: 80px"
        >
          <div class="container">
            <div class="card cart-block">
              <div class="card-img iconbox">
                <a
                  href="/"
                  class="mbri-bookmark mbr-iconfont mbr-iconfont-features4"
                  style="color: rgb(39, 170, 224)"
                ></a>
              </div>
              <div class="card-block">
                <h4 class="card-title">Tracking </h4>
                <h5 class="card-subtitle">- Tracking the progress of your delivery </h5>
                <!-- <p class="card-text">
                  One of Bootstrap 4's big points is responsiveness and Mobirise
                  makes effective use of this by generating highly responsive
                  website for you.
                </p> -->
              </div>
            </div>
          </div>
        </div>
        <div
          class="mbr-cards-col col-xs-12 col-lg-4"
          style="padding-top: 80px; padding-bottom: 80px"
        >
          <div class="container">
            <div class="card cart-block">
              <div class="card-img iconbox">
                <a
                  href="/"
                  class="mbri-speed mbr-iconfont mbr-iconfont-features4"
                  style="color: rgb(193, 193, 193)"
                ></a>
              </div>
              <div class="card-block">
                <h4 class="card-title">Quick Access</h4>
                <h5 class="card-subtitle">
                  Getting the service closest to you
                </h5>
                <!-- <p class="card-text">
                  Google has a highly exhaustive list of fonts compiled into its
                  web font platform and Mobirise makes it easy for you to use
                  them on your website easily and freely.
                </p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      class="mbr-section mbr-background"
      id="testimonials1-7"
      style="
        background-image: url(assets/images/mbr-2000x1333.jpg);
        padding-top: 120px;
        padding-bottom: 120px;
      "
    >
      <div
        class="mbr-overlay"
        style="opacity: 0.8; background-color: rgb(255, 255, 255)"
      ></div>

      <div
        class="mbr-section mbr-section__container mbr-section__container--middle"
      >
        <div class="container">
          <div class="row">
            <div class="col-xs-12 text-xs-center">
              <h3 class="mbr-section-title display-2">
                WHAT OUR FANTASTIC USERS SAY
              </h3>
              <small class="mbr-section-subtitle"
                >Here is what some of our clients have to say about White Axis.</small
              >
            </div>
          </div>
        </div>
      </div>

      <div class="mbr-testimonials mbr-section mbr-section-nopadding">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-lg-4">
              <div class="mbr-testimonial card mbr-testimonial-lg">
                <div class="card-block">
                  <p>
                    “Have had a great experience with everyone I've worked with. If it isn't something available they will push it along to see if the change can be made. They have even ear market product issue to get ahold of me when the problem is changed in the future. Usually get a response with in 24 if not a lot sooner.”
                  </p>
                </div>
                <div class="mbr-author card-footer">
                  <div class="mbr-author-img">
                    <img
                      src="assets/images/ellejmi6dqy-abigail-sisson-160x160.jpg"
                      class="img-circle"
                    />
                  </div>
                  <div class="mbr-author-name">Opeyemi.</div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-lg-4">
              <div class="mbr-testimonial card mbr-testimonial-lg">
                <div class="card-block">
                  <p>
                    “White Axis is very merchant-friendly and will do everything they can to help you be a success. This includes their own quality assurance when integrating, proactively reaching out about new features and changes, and constantly evolving their product based on customer feedback and real world testing.”
                  </p>
                </div>
                <div class="mbr-author card-footer">
                  <div class="mbr-author-img">
                    <img
                      src="assets/images/fcuj-bvjrrs-alicja-koczaska-160x160.jpg"
                      class="img-circle"
                    />
                  </div>
                  <div class="mbr-author-name">Emmanuel</div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-lg-4">
              <div class="mbr-testimonial card mbr-testimonial-lg">
                <div class="card-block">
                  <p>
                    “Our checkout system looks cleaner and it is easy to navigate. Clients noticed our transition and were happy with the new look of the checkout system. Additionally, if an issue ever arises the Bolt Support team is ready to help and figure out the issue. They are very helpful and transparent! Chargebacks are also super easy to dispute or resolve with Bolt.”
                  </p>
                </div>
                <div class="mbr-author card-footer">
                  <div class="mbr-author-img">
                    <img
                      src="assets/images/fqkbxo2nkq0-sticker-mule-160x160.jpg"
                      class="img-circle"
                    />
                  </div>
                  <div class="mbr-author-name">Chidinma</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section
      class="mbr-section"
      id="pricing-table2-f"
      style="
        background-color: rgb(255, 255, 255);
        padding-top: 120px;
        padding-bottom: 120px;
      "
    >
      <div
        class="mbr-section mbr-section__container mbr-section__container--middle"
      >
        <div class="container">
          <div class="row">
            <div class="col-xs-12 text-xs-center">
              <h3 class="mbr-section-title display-2">
                HOW MUCH DOES IT COST?
              </h3>
              <small class="mbr-section-subtitle"
                >Pricing table with four columns and solid color
                background.</small
              >
            </div>
          </div>
        </div>
      </div>

      <div class="mbr-section mbr-section-nopadding mbr-price-table">
        <div class="row">
          <div class="col-xs-12 col-md-6 col-xl-4">
            <div class="mbr-plan card text-xs-center">
              <div class="mbr-plan-header card-block">
                <div class="card-title">
                  <h3 class="mbr-plan-title">MONTHLY PLAN</h3>
                  <small class="mbr-plan-subtitle">Description</small>
                </div>
                <div class="card-text">
                  <div class="mbr-price">
                    <span class="mbr-price-value">$</span>
                    <span class="mbr-price-figure">1</span
                    ><small class="mbr-price-term">/mo.</small>
                  </div>
                  <small class="mbr-plan-price-desc">More details</small>
                </div>
              </div>
              <div class="mbr-plan-body card-block">
                <div class="mbr-plan-list">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">32 GB storage</li>
                    <li class="list-group-item">Unlimited users</li>
                    <li class="list-group-item">15 GB bandwidth</li>
                  </ul>
                </div>
                <div class="mbr-plan-btn">
                  <a href="#" class="btn btn-black btn-black-outline">DEMO</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-xl-4">
            <div class="mbr-plan card text-xs-center">
              <div class="mbr-plan-header card-block bg-primary">
                <div class="mbr-plan-label">HOT!</div>
                <div class="card-title">
                  <h3 class="mbr-plan-title">QUARTERY PLAN</h3>
                  <small class="mbr-plan-subtitle">Description</small>
                </div>
                <div class="card-text">
                  <div class="mbr-price">
                    <span class="mbr-price-value">$</span>
                    <span class="mbr-price-figure">0.75</span
                    ><small class="mbr-price-term">/mo.</small>
                  </div>
                  <small class="mbr-plan-price-desc">More details</small>
                </div>
              </div>
              <div class="mbr-plan-body card-block">
                <div class="mbr-plan-list">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">32 GB storage</li>
                    <li class="list-group-item">Unlimited users</li>
                    <li class="list-group-item">15 GB bandwidth</li>
                  </ul>
                </div>
                <div class="mbr-plan-btn">
                  <a href="#" class="btn btn-black btn-black-outline">DEMO</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-xl-4">
            <div class="mbr-plan card text-xs-center">
              <div class="mbr-plan-header card-block">
                <div class="card-title">
                  <h3 class="mbr-plan-title">ANNUAL PLAN</h3>
                  <small class="mbr-plan-subtitle">Description</small>
                </div>
                <div class="card-text">
                  <div class="mbr-price">
                    <span class="mbr-price-value">$</span>
                    <span class="mbr-price-figure">0.5</span
                    ><small class="mbr-price-term">/mo.</small>
                  </div>
                  <small class="mbr-plan-price-desc">More details</small>
                </div>
              </div>
              <div class="mbr-plan-body card-block">
                <div class="mbr-plan-list">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">32 GB storage</li>
                    <li class="list-group-item">Unlimited users</li>
                    <li class="list-group-item">15 GB bandwidth</li>
                  </ul>
                </div>
                <div class="mbr-plan-btn">
                  <a href="#" class="btn btn-black btn-black-outline">DEMO</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <section
      class="mbr-section article mbr-parallax-background"
      id="msg-box3-g"
      style="
        background-image: url(https://images.pexels.com/photos/4606402/pexels-photo-4606402.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
        padding-top: 120px;
        padding-bottom: 120px;
      "
    >
      <div
        class="mbr-overlay"
        style="opacity: 0.4; background-color: rgb(255, 255, 255)"
      ></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-xs-center">
            <h3 class="mbr-section-title display-2">Ride with Us</h3>

               <% if(os== "AndroidOS"){ %>
                      <div >
                        <a href="https://play.google.com/"><img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" width="150" height="60" alt="Get it on Google Play" border="0"></a> 
                        <!-- <a href="https://itunes.apple.com"><img src="https://musicofnature.com/wp-content/uploads/2019/01/apple-appstore-button-e1537877335990.png" width="150" height="44" alt="Download on the App Store" border="0"></a>  -->
                      </div>
                    <% } else if(os== "iOS"){ %>  
                      <div >
                        <!-- <a href="https://play.google.com/"><img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" width="150" height="60" alt="Get it on Google Play" border="0"></a>  -->
                        <a href="https://itunes.apple.com"><img src="https://musicofnature.com/wp-content/uploads/2019/01/apple-appstore-button-e1537877335990.png" width="150" height="44" alt="Download on the App Store" border="0"></a> 
                      </div>
                   <% } else { %>  
                    <div >
                      <a href="https://play.google.com/"><img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" width="150" height="60" alt="Get it on Google Play" border="0"></a> 
                      <a href="https://itunes.apple.com"><img src="https://musicofnature.com/wp-content/uploads/2019/01/apple-appstore-button-e1537877335990.png" width="150" height="44" alt="Download on the App Store" border="0"></a> 
                    </div>
                    
                    <% } 
                    
                    %>
          </div>
        </div>
      </div>
    </section>

      <!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5fc7b88c920fc91564ccd214/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
  

    <script src="assets/web/assets/jquery/jquery.min.js"></script>
    <script src="assets/tether/tether.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/smooth-scroll/smooth-scroll.js"></script>
    <script src="assets/dropdown/js/script.min.js"></script>
    <script src="assets/touch-swipe/jquery.touch-swipe.min.js"></script>
    <script src="assets/viewport-checker/jquery.viewportchecker.js"></script>
    <script src="assets/jarallax/jarallax.js"></script>
    <script src="assets/theme/js/script.js"></script>

    <input name="animation" type="hidden" />
  </body>

  <!-- Mirrored from mobirise.com/free-template/app-showcase-demo/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 22 Nov 2020 14:40:46 GMT -->
</html>
