
<%- include('../partials/Header.ejs'); %>

<%- include('../partials/Nav.ejs'); %>

<div class="gallery">
    <div class="container">
        <h2>Gallery</h2>
        <div class="wthree_gallery_grids">
            <div id="jzBox" class="jzBox">
                <div id="jzBoxNextBig"></div>
                <div id="jzBoxPrevBig"></div>
                <img src="#" id="jzBoxTargetImg" alt=" " />
                <div id="jzBoxBottom">
                    <div id="jzBoxTitle"></div>
                    <div id="jzBoxMoreItems">
                        <div id="jzBoxCounter"></div>
                        <i class="arrow-left" id="jzBoxPrev"></i> 
                        <i class="arrow-right" id="jzBoxNext"></i> 
                    </div>
                    <i class="close" id="jzBoxClose"></i>
                </div>
            </div>
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home">
                        <div class="tab_img">
                            <div class="col-md-3 agile_gallery_grids">
                                <a href="images/1.jpg" class="jzBoxLink" title="Auto Car">
                                    <div class="view view-sixth">
                                        <img src="images/1.jpg" alt=" " class="img-responsive" />
                                        <div class="mask">
                                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 agile_gallery_grids">
                                <a href="images/7.jpg" class="jzBoxLink" title="Auto Car">
                                    <div class="view view-sixth">
                                        <img src="images/7.jpg" alt=" " class="img-responsive" />
                                        <div class="mask">
                                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 agile_gallery_grids">
                                <a href="images/3.jpg" class="jzBoxLink" title="Auto Car">
                                    <div class="view view-sixth">
                                        <img src="images/3.jpg" alt=" " class="img-responsive" />
                                        <div class="mask">
                                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 agile_gallery_grids">
                                <a href="images/4.jpg" class="jzBoxLink" title="Auto Car">
                                    <div class="view view-sixth">
                                        <img src="images/4.jpg" alt=" " class="img-responsive" />
                                        <div class="mask">
                                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="tab_img">
                            <div class="col-md-3 agile_gallery_grids">
                                <a href="images/4.jpg" class="jzBoxLink" title="Auto Car">
                                    <div class="view view-sixth">
                                        <img src="images/4.jpg" alt=" " class="img-responsive" />
                                        <div class="mask">
                                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 agile_gallery_grids">
                                <a href="images/8.jpg" class="jzBoxLink" title="Auto Car">
                                    <div class="view view-sixth">
                                        <img src="images/8.jpg" alt=" " class="img-responsive" />
                                        <div class="mask">
                                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 agile_gallery_grids">
                                <a href="images/5.jpg" class="jzBoxLink" title="Auto Car">
                                    <div class="view view-sixth">
                                        <img src="images/5.jpg" alt=" " class="img-responsive" />
                                        <div class="mask">
                                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 agile_gallery_grids">
                                <a href="images/6.jpg" class="jzBoxLink" title="Auto Car">
                                    <div class="view view-sixth">
                                        <img src="images/6.jpg" alt=" " class="img-responsive" />
                                        <div class="mask">
                                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="tab_img">
                            <div class="col-md-3 agile_gallery_grids">
                                <a href="images/2.jpg" class="jzBoxLink" title="Auto Car">
                                    <div class="view view-sixth">
                                        <img src="images/2.jpg" alt=" " class="img-responsive" />
                                        <div class="mask">
                                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 agile_gallery_grids">
                                <a href="images/9.jpg" class="jzBoxLink" title="Auto Car">
                                    <div class="view view-sixth">
                                        <img src="images/9.jpg" alt=" " class="img-responsive" />
                                        <div class="mask">
                                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 agile_gallery_grids">
                                <a href="images/10.jpg" class="jzBoxLink" title="Auto Car">
                                    <div class="view view-sixth">
                                        <img src="images/10.jpg" alt=" " class="img-responsive" />
                                        <div class="mask">
                                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 agile_gallery_grids">
                                <a href="images/7.jpg" class="jzBoxLink" title="Auto Car">
                                    <div class="view view-sixth">
                                        <img src="images/7.jpg" alt=" " class="img-responsive" />
                                        <div class="mask">
                                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/Footer.ejs'); %>
