

<!-- <%- include('../partials/Header.ejs'); %> -->

<%- include('../partials/Header.ejs'); %>


<%- include('../partials/Nav.ejs'); %>
<!-- Services -->
<div class="why-choose-agile">
  <div class="container">
    <h2 class="w3l_head ser2">Best Services</h2>
    <div class="why-choose-agile-grids-top">
      <div class="col-md-4 agileits-w3layouts-grid">
        <div class="wthree_agile_us">
          <div class="col-xs-9 agile-why-text">
            <h4>Service 1</h4>
            <p>Lorem ipsum magna, vehicula ut scelerisque ornare porta ete.</p>
          </div>
          <div class="col-xs-3 agile-why-text">
            <div class="wthree_features_grid hvr-rectangle-out">
              <i class="fa fa-truck" aria-hidden="true"></i>
            </div>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="wthree_agile_us">
          <div class="col-xs-9 agile-why-text">
            <h4>Service 2</h4>
            <p>Lorem ipsum magna, vehicula ut scelerisque ornare porta ete.</p>
          </div>
          <div class="col-xs-3 agile-why-text">
            <div class="wthree_features_grid hvr-rectangle-out">
              <i class="fa fa-cog" aria-hidden="true"></i>
            </div>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="wthree_agile_us">
          <div class="col-xs-9 agile-why-text">
            <h4>Service 3</h4>
            <p>Lorem ipsum magna, vehicula ut scelerisque ornare porta ete.</p>
          </div>
          <div class="col-xs-3 agile-why-text">
            <div class="wthree_features_grid hvr-rectangle-out">
              <i class="fa fa-eye" aria-hidden="true"></i>
            </div>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="col-md-4 agileits-w3layouts-grid img">
        <img src="images/abs.jpg" alt=" " class="img-responsive" />
      </div>
      <div class="col-md-4 agileits-w3layouts-grid">
        <div class="wthree_agile_us">
        <div class="col-xs-3 agile-why-text">
            <div class="wthree_features_grid hvr-rectangle-out">
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-xs-9 agile-why-text two">
            <h4>Service 4</h4>
            <p>Lorem ipsum magna, vehicula ut scelerisque ornare porta ete.</p>
          </div>
          
          <div class="clearfix"> </div>
        </div>
        <div class="wthree_agile_us">
        <div class="col-xs-3 agile-why-text">
            <div class="wthree_features_grid hvr-rectangle-out">
              <i class="fa fa-cogs" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-xs-9 agile-why-text two">
            <h4>Service 5</h4>
            <p>Lorem ipsum magna, vehicula ut scelerisque ornare porta ete.</p>
          </div>
          
          <div class="clearfix"> </div>
        </div>
        <div class="wthree_agile_us">
        <div class="col-xs-3 agile-why-text">
            <div class="wthree_features_grid hvr-rectangle-out">
              <i class="fa fa-wrench" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-xs-9 agile-why-text two">
            <h4>Service 6</h4>
            <p>Lorem ipsum magna, vehicula ut scelerisque ornare porta ete.</p>
          </div>
          
          <div class="clearfix"> </div>
        </div>
          
          <div class="clearfix"> </div>
        </div>
    </div>
      <div class="clearfix"> </div>
  </div>
</div>
<!-- //services -->

<!-- Intro -->
<div class="about">
  <div class="container">
    <h3>We make your dreams as real</h3>
    <div class="about-grids">
      <div class="col-md-6 about-grid about-one">
        <div class="about-grid-left">
          <h4>Magnam aliquam quaerateets</h4>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="about-grid-right">
          <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-6 about-grid about-one">
        <div class="about-grid-right aliquam">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </div>
        <div class="about-grid-left non">
          <h4>Voluptate velit esse cillum</h4>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>					
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="about-grids">
      <div class="col-md-6 about-grid">
        <div class="about-grid-left">
          <h4>Dolore eu fugiat nulla voluptate</h4>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="about-grid-right">
          <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-6 about-grid">
        <div class="about-grid-right aliquam">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        </div>
        <div class="about-grid-left non">
          <h4>Quis nostrum ullam corporis</h4>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>					
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //Intro -->

<!-- Services -->
<div class="services serv-w3" id="services">
  <h3 class="title-w3">Our Latest Events</h3>
    <div class=" col-md-3 section-grid-wthree one">
      <div class="services-info-w3-agileits">
        <h5 class="sub-title">Nulla auctor</h5>
        <p class="para-w3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
      </div>
      <div class="services-img-agileits-w3layouts">
        <img src="images/ev.jpg" alt="service-img">
      </div>
    </div>
    <div class=" col-md-3 section-grid-wthree">
      <div class="services-img-agileits-w3layouts">
        <img src="images/ev3.jpg" alt="service-img">
      </div>
      <div class="services-info-w3-agileits mid">
        <h5 class="sub-title">Lorem ipsum</h5>
        <p class="para-w3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
      </div>
    </div>
    <div class=" col-md-3 section-grid-wthree">
      <div class="services-info-w3-agileits">
        <h5 class="sub-title">Maecenas dolor</h5>
        <p class="para-w3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
      </div>
      <div class="services-img-agileits-w3layouts">
        <img src="images/ev2.jpg" alt="service-img">
      </div>
    </div>
    <div class=" col-md-3 section-grid-wthree">
      <div class="services-img-agileits-w3layouts">
        <img src="images/ev4.jpg" alt="service-img">
      </div>
      <div class="services-info-w3-agileits mid">
        <h5 class="sub-title">dolor amet</h5>
        <p class="para-w3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
      </div>
    </div>
  <div class="clearfix"></div>
</div>
<!-- //Services -->

<%- include('../partials/Footer.ejs'); %>
